p {
  font-family: Lato;
}

.game-container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.message {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: lightblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
